.NavigationBar {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    height: 100vh;
    font-size: .65rem;
    padding: 0 1rem;

    /** Устанавливаем прозрачный фон для блока */
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        /** Играем с контекстом наложения и засовываем фон под основной контент */
        z-index: -1;
        opacity: .6;
        background-color: #fff;
    }

    &_theme {
        &_dark {
            &:before {
                background-color: #000;
            }
        }
    }

    &-Link {
        width: 2rem;
        transition: transform .3s;

        &:hover {
            transform: scale(1.2);
        }
    }

    .LinkImage-Content {
        &:first-letter {
            text-transform: uppercase;
        }
    }
}
