.Flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_direction {
        &_row {
            flex-direction: row;
        }

        &_column {
            flex-direction: column;
        }
    }
}
