.LinkImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 .5rem;

    &_align {
        &_row {
            flex-direction: row;
        }

        &_column {
            flex-direction: column;
        }
    }

    &-Image {
        width: 100%;
    }
}
